

{{!-- Now we must make the links clickable in the index.edge file so that we can click a title, and be brought to the single post view. Note the addition of the anchor tag which links to the unique post id of each blog post. --}}
<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <p class="is-size-1">
       Welcome to MYBlog!
       </p>
      </h1>
      <h2 class="subtitle">
      Something about this blog
      </h2>
    </div>
  </div>

</section>

 <section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
Check out some of my blog posts:
      </h1>
      <br>
      <h2 class="subtitle">
        

           {{#each posts}}
            {{#each this}}
        <div class="post-preview">
        
            <a class="is-size-2" href="/post/{{ this._id }}">         
            {{this.title}}
                {{!-- <p>Posted by:
                 <a href="#">{{ this.username }}</a>
            on {{ this.createdAt.toDateString() }}
          </p>   --}}
          </a>
          <p>{{this.content}}</p>
          <p>{{this.username}}</p>
         </div>
        {{/each}}
      {{/each}}
      
      </h2>
    </div>
  </div>
</section>