<header class="masthead" style="background-image: url('{{ post.image }}')">
  <section class="hero is-medium is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Post
        </h1>
        <h2 class="subtitle">
          Read a single post
        </h2>
      </div>
    </div>
  </section>

  <body>
    <section class="section">
      <div class="container">

        <div>


            {{#each getHalfPostObj}}
              {{#if @last}}
               <img src="data:image/jpg;base64,{{this}}" alt="why u no work?">
               <br>

              {{else}}
                {{this}}
               
                <br>

              {{/if}}

          {{/each}}

          
                {{#if admin}}
                
                     <a href="/delete/{{postID}}">
      <button  class="button is-danger is-outlined">
                          <span>Delete post</span>
                          <span class="icon is-small">
                         <i class="fas fa-times"></i>
                           </span>
                          </button>
                          </a>
                          <br>
                          <br>
                          {{/if}}

            {{#if login}}
          <form action="/post/{{postID}}" method="POST" >
            <article class="media">
              <div class="media-content">
                <div class="field">
                  <p class="control">
                    <textarea class="textarea" name="comment" placeholder="Add a comment..."></textarea>
                  </p>
                </div>
                <nav class="level">
                  <div class="level-left">
                    <div class="level-item">
                      <input type="submit" class="button is-info">
                    </div>
                  </div>
                </nav>
                <br>
              </div>
            </article>
          </form>
          {{/if}}

            {{#each commentObject}}
      
          <article class="media">
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>{{this.username}}</strong>  <small>{{this.createdAt}}</small>
                  <br>
                  {{this.comment}}
                </p>
              </div>
            
            </div>
            <div class="media-right">
              <button class="delete"></button>
            </div>
          </article>
            
          {{/each}}
        
          
          {{!-- {{#if login}}
                 <a href="/delete/{{postID}}">
      <button  class="button is-danger is-outlined">
                          <span>Delete post</span>
                          <span class="icon is-small">
                         <i class="fas fa-times"></i>
                           </span>
                          </button>
                          </a>
                          {{/if}} --}}

          {{!-- {{/if}} --}}
{{!--  --}}

        </div>
</header>

</section>
</body>