
<header class="masthead" style="background-image: url('{{ post.image }}')">
<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        All the posts
      </h1>
      <h2 class="subtitle">
        Everything is here
      </h2>
    </div>
  </div>
</section>

<body>
  <section class="section">
    <div class="container">

<div>

  
  {{!-- array of objects --}}
        {{#if postObject}} 
                {{#each postObject}}
                {{!-- {{#if @last}} --}}
                 <img src="data:image/jpg;base64,{{this.image}}" alt="why u no work?">
                {{!-- <div style='background:url(data:image/jpg;base64,{{this.image}})repeat-x center;'></div> --}}

                {{!-- {{else}} --}}
                        {{!-- <img src="{{this.image}}" alt=""> --}}
                        <h1 class="is-size-1" >{{this.title}}</h1>
                        <h3 class="is-size-5">{{this.content}}</h3>
                        <h5>{{this.username}}</h5>
                        <p>{{this.decription}}</p>
                        <p class="is-size-7">{{this.createdAt}}</p>
                        <br>
                        <br>
                        <br><br>
                        
                        {{!-- {{/if}} --}}
                {{/each}}

        {{else}}
                {{#each myFuckingObj}}
                {{#if @last}}
                <img src="data:image/jpg;base64,{{this}}" alt="why u no work?">

                {{else}}
                                {{this}}

                {{/if}}
        
           
     {{/each}}
     {{/if}}

</div>
</header>

 </section>
</body>